/* global.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .css-tw7lsc {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .css-ae6i3s {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }